<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenest_Delivery::delivery" title="Magenest Delivery" translate="title" sortOrder="1000">
                    <resource id="Magenest_Delivery::manager" title="Magenest Delivery Manager" translate="title" sortOrder="10"/>
                    <resource id="Magenest_Delivery::edit" title="Magenest Delivery Edit" translate="title" sortOrder="20"/>
                    <resource id="Magenest_Delivery::save" title="Magenest Delivery Save" translate="title" sortOrder="30"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config" title="Configuration" translate="title" sortOrder="20">
                            <resource id="Magenest_Delivery::config" title="Magenest Delivery Configuration" translate="title" sortOrder="1500" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>