<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="100">
            <label>Magenest</label>
        </tab>
        <section id="delivery_config" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Delivery Configration</label>
            <tab>magenest</tab>
            <resource>Magenest_Delivery::config</resource>
            <group id="general_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="days_not_receive" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>The day(s) of not receiving goods</label>
                    <source_model>Magenest\Delivery\Model\Source\DayExcept</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="lead_time" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lead Time</label>
                    <validate>required-entry validate-zero-or-greater validate-number</validate>
                </field>
                <field id="maximal_delivery_interval" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximal Delivery Interval</label>
                    <validate>required-entry validate-zero-or-greater validate-number</validate>
                </field>
                <field id="notice_by_admin" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notice By Admin</label>
                    <comment>Maximum length: 500 characters</comment>
                    <validate>validate-length-character</validate>
                </field>
                <field id="date_format" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Date Format</label>
                    <validate>required-entry</validate>
                    <source_model>Magenest\Delivery\Model\Source\DateFormat</source_model>
                </field>
                <field id="same_day_delivery_disable_config" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled `Disable Same Day Delivery After`</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="same_day_delivery_disable" type="time" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Same Day Delivery After</label>
                    <depends>
                        <field id="same_day_delivery_disable_config">1</field>
                    </depends>
                </field>
                <field id="delivery_display_on" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Display On</label>
                    <source_model>Magenest\Delivery\Model\Source\DisplayOn</source_model>
                </field>
                <field id="enable_comment_field" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Comment Field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>